{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>

    <title>{% block title %} Philosophy Forum {% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'site/css/base.css' %}" />

    {% block extra_head %} {% endblock %}
    {% block extra_css %} {% endblock %}

    <link rel="stylesheet" href="{% static 'site/bootstrap/css/bootstrap.css' %}" />

  </head>

  <body>

    <div class="container"><!-- container -->

      <header>
        <h1>Philosophy Forum</h1>
      </header>

      <main>
        {% block content %} {% endblock %}
      </main>

      <footer>
        <p>&copy; {% now "Y" %}</p>
      </footer>

    </div>

    <script type="text/javascript" src="{% static 'site/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/bootstrap/js/bootstrap.js' %}"></script>

  </body>

</html>
